@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  user-select: none;
  scrollbar-width: none;
}

header .hbutton {
  position: relative;
}

header .hbutton::after {
  content: "";
  position: absolute;
  background: #fbd015;
  width: 100%;
  height: 0px;
  bottom: 0;
  opacity: 0;
  transition: all 0.222s ease;
}

header .hbutton.active::after {
  content: "";
  position: absolute;
  width: 110%;
  background: #fbd015;
  height: 5px;

  opacity: 1;
}

header .hbutton:hover:after {
  content: "";
  position: absolute;
  width: 110%;
  background: #fbd015;
  height: 5px;

  opacity: 1;
}

header .hbutton.logOut::after {
  background: none;
}

.infocardLocal, .infocardNube {
  opacity: 0;
  transition: all .123s ease-in-out;
}

.infoLocal:hover  + .infocardLocal {
  opacity: 1;
}
.infoNube:hover  + .infocardNube {
  opacity: 1;
}